<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbshop.bit.mapper.CommunityMapper">
	<!-- 목록과 데이터 개수 처리 -->

<select id="getListWithPaging" 
parameterType="map" resultType="com.bbshop.bit.domain.CommunityVO">

	<![CDATA[

	select board_num, title, board_content,writer,regdate,moddate, hit
	from 
		(
			select rownum rn, board_num, title, board_content, writer, regdate, moddate, hit 
			from community 
			where team_name= #{teamName} and ]]>

		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="pagingvo.typeArr">
			
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{pagingvo.KEYWORD}||'%'
						</when>
						<when test="type=='C'.toString()">
							board_content like '%'||#{pagingvo.KEYWORD}||'%'
						</when>
						<when test="type=='N'.toString()">
							writer like '%'||#{pagingvo.KEYWORD}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>

			<![CDATA[
			 rownum <= #{pagingvo.PAGENUM} * #{pagingvo.AMOUNT})
	where rn > (#{pagingvo.PAGENUM} -1) * #{pagingvo.AMOUNT}
	]]>
	
	
	

	</select>
	
	<select id="getTotalCount" parameterType="map" resultType="int">
	

	
	select count(*) from community
	where team_name= #{teamName}
	</select>
	

</mapper>